<footer class="footer" role="contentinfo">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p class="mb-1">&copy; Copyright Zulfikra L Abdjul. All Rights Reserved</p>

            </div>
            <div class="col-sm-6 social text-md-end">
                <a target="_blank" href="https://www.facebook.com/zul.lahmudin/" rel="noreferrer"><span class="bi bi-facebook"></span></a>
                <a target="_blank" href="https://www.instagram.com/iamzulfikra.lahmudin/" rel="noreferrer"><span class="bi bi-instagram"></span></a>
                <a target="_blank" href="https://www.linkedin.com/in/zulfikra-lahmudin-750333113/" rel="noreferrer"><span class="bi bi-linkedin"></span></a>
                <a target="_blank" href="https://www.youtube.com/channel/UCgYQ39dFG-Oa-pA9oJJ1K2g" rel="noreferrer"><span class="bi bi-youtube"></span></a>
                <a target="_blank" href="https://twitter.com/iamzulfikra" rel="noreferrer"><span class="bi bi-twitter"></span></a>
            </div>
        </div>
    </div>
</footer>